<div class="title animated jackInTheBox">
  <h1>{{title}}</h1>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>

<ul class="animated flipInX" *ngIf="mode=='list'">
  <p class="animated flipInX text-center" *ngIf="todos.length === 0"><small class="aviso">Ainda não foram criadas nenhuma tarefa!</small></p>

  <li *ngFor="let todo of todos">
    {{todo.title}}
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i> Concluir</button> |
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i> Refazer</button> |
    <button (click)="remove(todo)"><i class="far fa-trash-alt"></i> Remover</button>
  </li>
</ul>
<div id="modal" *ngIf="mode=='add'" class="animted flipInX">
  <form [formGroup]="form">

      <h2 class="text-center">Nova Tarefa: </h2>
      <input type="text" placeholder="Título da tarefa" maxlength="100" formControlName="title">
      <small class="danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">Este campo deve conter entre 3 a 100 carácteres</small>
      <button class="button " [disabled]="form.invalid" (click)="add()"*ngIf="mode=='add'">
        <i class="fas fa-save"></i>
        Salvar
      </button>

  </form>
</div>


